.limit-panel-box {
    left: 2%;
    top: 8%;
    .limit-panel {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 5%;
    }
}
