.limit-panel-box {
    left: 2%;
    top: 8%;
    .limit-panel {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
        padding-top: 5%;
        :deep(.clear){
            color: $danger-color;
        }
    }
}
