.modelpart-panel-box {
    left: 2%;
    top: 8%;
    .modelpart-panel {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
        .btn-group {
            position: relative;
            display: flex;
            justify-content: space-between;
            :deep(.clear) {
                color: $danger-color;
            }
        }
    }
}
