.roam-panel-box {
    width: 300px;
    left: 2%;
    top: 8%;
    .roam-panel {
        position: relative;
        width: 100%;
        padding-top: 5%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .el-radio-group {
            position: relative;
            width: 100%;
            justify-content: space-between;
            .el-radio {
                width: 30%;
                color: white;
                margin: 0;
            }
        }
        .height-input-box {
            position: relative;
            width: 100%;
            display: flex;
            .height-label {
                color: white;
                position: relative;
                display: flex;
                align-items: center;
                flex: 0.4;
            }
            .height-input {
                position: relative;
                flex: 0.6;
            }
        }
        ::v-deep .roam-btn-group {
            position: relative;
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 10px;
            .fir-row {
                position: relative;
                display: flex;
                justify-content: space-between;
                width: 100%;
                .comm-button {
                    width: calc(50% - 5px);
                }
            }
            .sec-row {
                position: relative;
                display: flex;
                justify-content: space-between;
                width: 100%;
                .comm-button {
                    width: calc(25% - 3px);
                }
                .accelerate{
                    color: $success-color;
                }
                .retard{
                    color: $info-color;
                }
                .stop{
                    color: $warning-color;
                }
                .clear{
                    color: $danger-color;
                }
            }
        }
    }
}
