.comm-slider-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12px;
    background-color: $trans-color;
    .comm-input-slider[type="range"] {
        // 禁用浏览器默认外观
        appearance: none;
        -webkit-appearance: none;
        background: $track-color;
        border-radius: 4px;
        width: 100%;
        height: 9px;
        outline: none;
        box-shadow: 0 0 6px $dark-border-color;
    }
    .comm-input-slider[type="range"]::-webkit-slider-thumb {
        // 滑动选择器上的滑动按钮
        -webkit-appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: $blue-gradient;
        box-shadow: 0 0 6px $dark-border-color;
        transition: 0.3s;
    }
    .comm-input-slider[type="range"]:active::-webkit-slider-thumb {
        // 当滑动选择器上的滑动按钮滑动时
        box-shadow: 0 0 0 3px $dark-border-color;
    }
}
