.comm-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid $dark-border-color;
    border-radius: 4px;
    padding: 8px 15px;
    background-color: $dark-back-color;
    // background-image: url("@/components/common/assets/img/commButton/background.png");
    // background-size: 100% 100%;
    .comm-button-content {
        position: relative;
        font-weight: 500;
        color: white;
    }
}
.comm-button:hover {
    background: $dark-gradient;
    // border-color: linear-gradient(#47E0FF, #48FFFF00);
}
