.comm-slider-warpper {
    position: relative;
    width: 100%;
    :deep(.el-slider__runway) {
        background: $track-color;
        box-shadow: 0 0 6px $dark-border-color;
        .el-slider__bar {
            background: $thumb-color2;
        }
        .el-slider__button {
            background: $blue-gradient;
            box-shadow: 0 0 6px $dark-border-color;
            border: none;
            width: 15px;
            height: 15px;
        }
    }
}
