.container-body-side {
    position: relative;
    width: 10%;
    height: 100%;
    background-color: #fff;
}
.container-body-main {
    position: relative;
    width: 90%;
    height: 100%;
    padding: 0;
    background-color: rgb(242, 242, 242);
}