.scene-panel-box {
    left: 2%;
    top: 8%;
    width: 180px;
    .scene-panel {
        position: relative;
        width: 100%;
        .btn-group {
            position: relative;
            display: flex;
            justify-content: space-around;
            :deep(.clear) {
                color: $danger-color;
            }
        }
    }
}
