.grid-panel-box {
    width: 180px;
    top: 8%;
    left: 2%;
    .grid-panel {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        :deep(.btn-group){
            display: flex;
            justify-content: space-between;
            gap: 10px;
            .clear{
                width: 100%;
                .comm-button-content{
                    color: $warning-color;
                }
            }
            .btn{
                width: 50%;
                .destroy{
                    color: $danger-color;
                }
            }
        }
    }
}
