.measure-panel-box {
    left: 2%;
    top: 8%;
    .measure-panel {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        :deep(.btn-group) {
            position: relative;
            display: flex;
            justify-content: space-between;
            gap: 10px;
            .half-btn {
                width: calc(50% - 5px);
                .revoke {
                    color: $warning-color;
                }
                .clear {
                    color: $danger-color;
                }
            }
        }
    }
}
