.grayscale-panel-box {
    left: 2%;
    top: 8%;
    width: 250px;
    .grayscale-panel {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        .grayscale-slider {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .slider-label {
                color: white;
            }
        }
        .btn-group {
            position: relative;
            display: flex;
            justify-content: space-between;
            gap: 10px;
            :deep(.comm-btn) {
                width: 50%;
                .clear {
                    color: $danger-color;
                }
            }
        }
    }
}
