.sky-panel-box {
    left: 2%;
    top: 8%;
    width: 250px;
    .sky-panel {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .select-group {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .btn-group {
            position: relative;
            display: flex;
            justify-content: space-around;
            gap: 10px;
            .btn{
                width: 50%;
            }
        }
    }
}
