.mapv-panel-box {
    left: 2%;
    top: 8%;
    .mapv-panel {
        position: relative;
        width: 100%;
        display: flex;
        gap: 10px;
        justify-content: center;
        :deep(.clear) {
            color: $danger-color;
        }
    }
}
