.marking-panel-box {
    left: 2%;
    top: 8%;
    .marking-panel {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .btn-group {
            position: relative;
            display: flex;
            justify-content: space-around;
            gap: 5px;
            .height-label {
                color: white;
                width: 80px;
            }
            .height-input {
                width: 100px;
            }
            :deep(.clear) {
                .comm-button-content{
                    color: $danger-color;
                }
            }
        }
    }
}
