.draw-panel-box {
    top: 8%;
    left: 2%;
    .draw-panel {
        display: flex;
        flex-direction: column;
        gap: 15px;
        :deep(.btn-group) {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            .remove {
                width: calc(50% - 5px);
                .revoke {
                    color: $warning-color;
                }
                .clear {
                    color: $danger-color;
                }
            }
        }
    }
}
