.scan-panel-box {
    left: 2%;
    top: 8%;
    width: 250px;
    .scan-panel {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .btn-group {
            position: relative;
            display: flex;
            justify-content: space-around;
            :deep(.clear) {
                width: 100%;
                .comm-button-content{
                    color: $danger-color;
                }
            }
        }
    }
}
